.navBannerLogo {
    max-height: 15%;
    max-width: 15%;
  }
.sitetitle {
  text-align: center;
  font-family: monospace;
}
.titleNoFont {
  text-align: center;
}
#mainCard {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  padding: 1px;
  text-align: center;
}
.gradWhite {
  background-color: #ffffff;
}
.gradGray {
  background-image: linear-gradient(#ecf0f1, #f8f9f9);
}
.brieff {
  padding-top: 5px;
  padding-bottom: 10px;
}
.explore {
  padding-top: 5px;
  padding-bottom: 10px;
}
.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 70%;
}
.navLogo {
 height: 120px;
 width: 120px;
 position: relative;
}
.cohortImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
}
.head3 {
  text-align: center;
}
.progress {
  height: 3px;
}

#bigLogo{
  max-width: 55%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#navFooter {
  background-image: linear-gradient(rgb(145, 145, 145),rgb(96, 96, 96));
  font-weight: bold;
  color: white !important;
  text-align: center !important;
}

#navFooter a {
  font-weight: bold;
  color: white !important;
  text-align: center !important;
}

#navHeader  {
  background-image: linear-gradient(rgb(96, 96, 96), rgb(145, 145, 145));
  /*background-color: rgb(145, 145, 145) !important;*/
  font-weight: bold;
  color: white;
  border-radius: 0px;
}

#navHeader a {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 0px 1px black;
}

li.nav-item a.nav-link.active#activeTab {
  background-color: transparent;
}

.dropdown-menu{
  background-image: linear-gradient(rgb(96, 96, 96), rgb(145, 145, 145));
  font-weight: bold;
}
#drResources {
  background-color: #ecf0f1;
  background-image: none;
  font-weight: bold;
}

#mainCont {
  border-radius: 15px !important;
  background-image: linear-gradient(rgb(188, 188, 188), rgb(230, 230, 230), rgb(188, 188, 188));
  max-width: 85%;
  padding: 5px 3% 5px 3%;
}

hr {
  border-color: rgb(213, 43, 30) !important;
  opacity: 100%;
  border-style: solid;
  text-align: center;
  border-width: 2px;
  border-radius: 2px;
  max-width: 50%;
  margin-left: 40%;
  margin-right: 40%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold !important;
  text-shadow: 0px 1px rgb(255, 255, 255) !important; 
}

.cropped {
  max-width: 90%; /* width of container */
  max-height: 320px;
  min-height: 150px;
  overflow: hidden;
  border: 0px solid black;
  border-radius: 15px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cropped img {
  max-width: 100%;
  margin: -13% 0% -17% 0%;
}
.para {
  text-align: left;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 17px;
}
.croppedNoSize {
  overflow: hidden;
  border: 0px solid black;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.icons {
  padding-left: 20%;
  padding-right: 20%;
  color: rgb(255, 255, 255);
}
.iconOn {
  color: rgb(213, 43, 30);
  width: 40px;
  height: 40px;
  
}
.invBlock {
  width: 40px;
  height: 40px;
}
.page-item {
  color: rgb(213, 43, 30);
}
.icon-link {
  text-decoration: none;
  padding-left: 1%;
  padding-right: 1%;
}
.linkOn {
  color: rgb(213, 43, 30);
}
.accordion-button:focus {
  border-color: transparent;
}
.accordion-button:active {
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}
.under-para {
  text-align: left;
  padding-top: 2%;
  font-size: 17px;
}
.bio-img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
#secondCont {
  border-radius: 15px !important;
  background-image: linear-gradient(rgb(188, 188, 188), rgb(230, 230, 230), rgb(188, 188, 188));
  max-width: 85%;
  padding: 5px 3% 5px 3%;
  padding-top: 3%;
}

#confCountdown{
  /* I don't actually think this works, but it was worth a shot anyway */
  font-weight: bold;
}

.pageHeader {
  font-size: 60px;
  color: black;
  text-shadow: 0px 1px rgb(213, 43, 30);
}

.indexImg {
  filter: sepia(100%) saturate(350%) brightness(50%) hue-rotate(305deg);
}
.h6space {
  display: inline;
}
.rightScroll {
  overflow-y: scroll;
  position: relative;
  max-height: 600px;
}
.leftScroll {
  overflow-y: scroll;
  position: relative;
  max-height: 600px;
}
.sideNav {
  background-image: linear-gradient(rgb(96, 96, 96), rgb(145, 145, 145));
}
.overTest {
  overflow: auto;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: rgb(213, 43, 30);
	background-color: transparent;
}
.nav-link {
  color: rgb(213, 43, 30);
}
.nav-link:hover {color: rgb(34, 34, 34);}

.introText {
  font-size: 17px;
  text-align: center;
}
.videoCont {
  border-radius: 15px !important;
  background-image: linear-gradient(rgb(188, 188, 188), rgb(230, 230, 230), rgb(188, 188, 188));
  max-width:65%;
  padding: 5px 3% 5px 3%;
}
.embedVideo {
  width: 80%;
  aspect-ratio: 2/1.3;
}
.videoTranscript {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgb(188, 188, 188), rgb(230, 230, 230), rgb(188, 188, 188));
}
.videoHS {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.videoDescrip {
  margin-top: 4px;
  margin-bottom: 4px;
}
.hrCustom {
  border-color: rgb(213, 43, 30) !important;
  opacity: 100%;
  border-style: solid;
  text-align: center;
  border-width: 2px;
  border-radius: 2px;
  max-width: 50%;
  margin-left: 40%;
  margin-right: 40%;
}
.toTop {
  background-image: linear-gradient(rgb(188, 188, 188), rgb(230, 230, 230), rgb(188, 188, 188));
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(164, 164, 164);
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(91, 91, 91);
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
}
.videoLink {
  margin-bottom: 5px;
  color: rgb(53, 53, 53);
}
.transAcc {
  text-align: left;
}
.proVideoHS {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.profProfile {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgb(188, 188, 188), rgb(230, 230, 230), rgb(188, 188, 188));
}
.sidenavlink.btn-primary {
  background-color: rgb(213, 43, 30) !important;
  color: white;
  margin-top: .25rem !important;
  margin-bottom: .25rem !important;
}
.confBioIm {
  border-radius: 55%;
  width: 25vw; /* 25% of the viewport width */
  height: 25vw; /* 25% of the viewport width */
  max-width: 350px; /* Limit the maximum width to 350px */
  max-height: 350px; /* Limit the maximum height to 350px */
  display: block;
  margin: 0 auto;
}

.confBioHead{
  text-align: center;
  /* position: absolute;  Makes the element positioned relative to its parent */
  top: 100px;/* Positions the bottom of the element 10px from the bottom of the container */
}
.justCenter {
  text-align: center;
}

.bioPara {
  text-align: left;
}
.confrow {
  padding-bottom: 5%;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #838383;
  text-align: left;
  padding: 8px;
}


.videoLinkButton {
  margin-bottom: 5px;
  color: rgb(94, 94, 94);
  border-radius: 5px;
  max-width: 100%;
  border-color: rgb(125, 125, 125);
  border-style: solid;
  border-width: 2px;
  background-color: linear-gradient(#6a6a6a45, #f8f9f965);
  padding: 5px;
}
.tableContHS {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%
}
.fuck {
  width: 20%;
}
.rcard {
  height: 1.5vh;
}
.rcard > .card-img-top {
  height: 50vh;
}
.centered-iframe {
  display: block;
  margin: 0 auto;
}